In [7]:
#accept percentage from the user and display the grade
marks = int(input("Enter your Percentage "))
if marks >= 90:
    print("Your grade is A")
elif marks > 80 and marks< 90:
    print("Your grade is B")
elif marks >= 60 and marks <=80 :
    print("Your grade is C")
else :
    print("Your grade is D")

enter your Percentage  55

Your grade is D

In [7]:
#accept percentage from the user and display the grade
marks = int(input("Enter your Percentage "))
if marks >= 90:
    print("Your grade is A")
elif marks > 80 and marks< 90:
    print("Your grade is B")
elif marks >= 60 and marks <=80 :
    print("Your grade is C")
else :
    print("Your grade is D")

enter your Percentage  55

Your grade is D

In [7]:
#accept percentage from the user and display the grade
marks = int(input("Enter your Percentage "))
if marks >= 90:
    print("Your grade is A")
elif marks > 80 and marks< 90:
    print("Your grade is B")
elif marks >= 60 and marks <=80 :
    print("Your grade is C")
else :
    print("Your grade is D")

enter your Percentage  55

Your grade is D

In [9]:
#accept the cost price of a bike and display the road tax
cost = int(input("Enter the cost price of a bike "))
if cost > 100000 :
    tax = round((0.15*cost),2)
    print("Your Road tax will be Rs." + str(tax))
elif cost > 50000 and cost<=100000:
    tax = round((0.10*cost),2)
    print("Your Road tax will be Rs." + str(tax))
elif cost <= 50000:
    tax = round((0.05*cost),2)
    print("Your Road tax will be Rs." + str(tax))

Enter the cost price of a bike  268569

Your Road tax will be Rs.40285.35

In [24]:
#Accept any city from the user and display monuments of that city
city = str(input("Enter name of any City"))
if city == 'Delhi':
    print("Red Fort")
elif city == 'Agra':
    print("Taj Mahal")
elif city == 'Jaipur':
    print("Jal Mahal")

Enter name of any City Jaipur

Jal Mahal

In [10]:
num = int(input("Enter a Number"))
j=0
while num >= 10:
    j+=1
    num = num/3
    #print(num)
print(j)

Enter a Number 36

2

In [3]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
i=5
while i>=1:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1 
    print("")
    i=i-1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [13]:
i=1
while i<=3:
    j=1
    while j<=i:
        print('*',end=" ")
        j=j+1
    print("")
    i=i+1

*
* *
* * *

In [2]:
i=10
while i>=1:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [3]:
l=[1,2,3,4,5,6,7,8,9]

In [4]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
i = 1
while i <= 10:
    print(i)
    if i == 5:
        break
    i += 1

1
2
3
4
5

In [12]:
sum=0
prod=1
for i in range(1,11):
    sum=sum+i
    prod=prod*i 
print(sum)
print(prod)

55
3628800

In [13]:
i = 1
sum=0
prod=1
while i <= 10:
    sum=sum+i
    prod=prod*i    
    i += 1
print(sum)
print(prod)

55
3628800

In [18]:
#accept the units of electricity consumed in a month
def elec_bill_cal(units):
    bill = 0
    if units <= 100:
        bill = units * 4.5
    elif units <= 200:
        bill = 100 * 4.5 + (units - 100) * 6
    elif units <= 300:
        bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
    else:
        bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
    return bill

# Get the number of units consumed from the user
units = int(input("Enter the number of units consumed: "))

# Calculate and print the electricity bill
bill = elec_bill_cal(units)
print("The electricity bill is: Rs.", bill)

Enter the number of units consumed:  310

The electricity bill is: Rs. 2250.0

In [28]:
# Create a list of numbers from 1 to 100
numbers =list(range(1, 101))

# Initialize an empty list to store the cubes
cubes = []

# Calculate the cube of each number and check if it's divisible by 4 or 5
for num in numbers:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(cube)

# Print the list of cubes that are divisible by 4 or 5
print(cubes)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [20]:
numbers = [x for x in range(1, 101)]

In [21]:
numbers

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [22]:
li=[range(1, 101)]

In [24]:
li=list(range(1, 101))

In [25]:
li

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [26]:
numbers =list(range(1, 101))

In [27]:
numbers

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [29]:
# Create a list of numbers from 1 to 100
numbers =list(range(1, 101))
cubes = []

# Calculate the cube of each number and check if it's divisible by 4 or 5
for num in numbers:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
       cubes.append(cube)
print(cubes)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [30]:
# Create a list of numbers from 1 to 100
numbers = list(range(1, 101))
num = 1
index = 0
cubes = []
# Calculate the cube of each number and check if it's divisible by 4 or 5
while index < len(numbers):
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(cube)
    num += 1
    index += 1
print(cubes)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [32]:
string = "I want to become a data scientist"
count = 0
for char in string:
    # Check if the character is a vowel (i.e., 'a', 'e', 'i', 'o', or 'u')
    if char in 'aeiouAEIOU':
        count += 1
# Print the count of vowels
print("The number of vowels in the string is:", count)

The number of vowels in the string is: 12